.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.progress-bar-success {
    background-color: green;
}
.progress-bar-warning {
    background-color: orange;
}
.progress-bar-danger {
    background-color: gray;
}
.btn.btn-outline-warning:hover {
    background-color: darkorange;
    color: white;
}
.btn.btn-outline-warning {
    border-color: darkorange;
    background-color: white;
    color: darkorange;
}
.btn.btn-outline-primary:hover {
    background-color: #ffc107;
    color: white;
}
.btn.btn-outline-primary {
    border-color: black;
    background-color: black;
    color: white;
}
.btn.btn-outline-info:hover {
    background-color: white;
    color: black;
}
.btn.btn-outline-light {
    border-color: blue;
    background-color: blue;
    color: white;
}
.btn.btn-outline-light:hover {
    background-color: white;
    color: blue;
}
.btn.btn-outline-info {
    border-color: #ffc107;
    background-color: white;
    color: #ffc107;
}
.btn.btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
}
.btn.btn-outline-info:hover {
    background-color: #0dcaf0;
    color: white;
}
.btn.btn-outline-success:hover {
    background-color: limegreen;
    color: white;
}
.btn.btn-outline-success {
    background-color: white;
    border-color: limegreen;
    color: limegreen;
}
p.obsah, h2.obsah {
    margin-left: 20px;
}
h2.obsah {
    margin-top: 10px;
    margin-bottom: 10px;
}